p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.box {
  padding: 1em;
  background: #429E90;
  color: white;
  border: 2px solid #2C5D56;
  border-radius: 10px;
}

a {
  color: #D55F2B;
}